body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  background-color: #927b7c;
  margin: 0 5px 0 5px;
  width: unset;
}
.names {
  background-color: aqua;
}
.collection .collection-item {
  border-bottom: unset;
}
.row {
  margin: 0 5px 20px 5px;
}
.card-image img {
  height: 18.75rem;
}

@media (max-width: 600px) {
  .card-image img {
    height: 37.5rem;
  }
}
h6 {
  color: rgb(44, 20, 66);
  text-align: center;
  font-family: 'Times New Roman', Times;
  min-height: 40px;
}
.card .card-content {
  padding: 10px 10px 0 10px;
  border-radius: 0 0 2px 2px;
}

.commend {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
}
.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  z-index: 1;
}

#portal {
  position: relative;
  z-index: 999;
}
.modalas-background {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.modal-card {
  max-height: 700px;
  max-width: 700px;
}
.image-placeholder img {
  width: 300px;
  height: 500px;
}
